@charset 'utf-8';
@import 'vars';


.cont-hedding1
{
  color:$pcolor-blue;position: relative;
  font-size: 24px;margin: 0;padding: 0;margin-bottom: 10px;
  
  strong{display: inline-block;vertical-align: middle;}

  // strong + .board-tab-nav2{margin-left: 20px;}
}

.cont-hedding2
{
  position: relative;display: block;
  font-size: 18px;margin: 0;padding: 0;margin-bottom: 10px;padding-left: 10px;
  &::before
    {
      content: '';width: 4px;height: 4px;border-radius: 50%;position: absolute;
      left: 0;background: #000;top:.6em;
    }
}

.content
{
  > section
  {
    margin-top: 50px;
    &:first-child{margin-top: 0;}
  }

  > section section
  {
    margin-top: 50px;
    &:first-child{margin-top: 0;}
  }
}


.__hedding-btns
{
  display: inline-block;vertical-align: middle;margin-top: -0.3em;margin-left: 7px;
  > *
  {
    margin-right: 3px;
    &:last-child{margin-right: 0;}
  }
}
.__hedding-right{position: absolute;right:0;font-size: 16px;color: #616161;font-weight: normal;top: 0.5em;}