@charset 'utf-8';
@import 'vars';

// .common_icons{}

.icon-outsite{background:url('#{$image}/common_icons.png') no-repeat;display: inline-block;}

.icon-outsite{display: inline-block;width: 28px;height: 22px;vertical-align: middle;margin-top: -0.3em;}


.icon-alert
{
  content:'';display: inline-block;
  width: 28px;height: 27px;background:url('#{$image}/common_icons.png');background-position: -28px 0;
  vertical-align: middle;margin-top: -5px;margin-right: 10px;
}

.icon-nodata
{
  display: inline-block;width: 52px;height: 55px;background: url('#{$image}/common_icons.png') -158px 0;
}

.icon-lock
{
  display: inline-block;width: 56px;height: 49px;background: url('#{$image}/common_icons.png') -210px 0;
}

.icon-search{width: 15px;height: 15px;display: inline-block;background: url('#{$image}/icon_search.png');background-size: 15px 15px;vertical-align: middle;margin-top: -0.2em;}
.icon-blank{width: 17px;height: 17px;background: url('#{$image}/icon_blank.png');background-size: 17px 17px;display: inline-block;vertical-align: middle;margin-top: -4px;font-size: 0;}
.icon-document{width: 19px;height: 20px;background: url('#{$image}/icon_document.png');background-size: 19px 20px;display: inline-block;vertical-align: middle;margin-top: -0.2em;}
.icon-list{width: 12px;height: 9px;background:url('#{$image}/icon_list.png');background-size: 12px 9px;display: inline-block;vertical-align: middle;margin-top: -0.2em;font-size: 0;}


.icon-close
{
    width: 25px;height:25px;background:none;font-size:0;margin: 0;padding: 0;display: inline-block;position: relative;box-sizing: border-box;
    border:0;
    &::after, &::before{content:'';position: absolute;background:#000;width:100%;top:50%;height:1px;left:50%;margin-left: -50%;transition:all .3s;}
    &::after{transform: rotate(-45deg)}
    &::before{transform: rotate(45deg)}

    &:hover
    {
        &::after{transform: rotate(135deg);}
        &::before{transform: rotate(225deg);}
    }
}

.icon-del
{
  width: 18px;height:18px;background:none;font-size:0;margin: 0;padding: 0;display: inline-block;position: relative;box-sizing: border-box;vertical-align: middle;
  border:0;background: red;border-radius:50%;border:1px solid rgb(172, 4, 4);box-sizing: border-box;
  &::after, &::before{content:'';position: absolute;background:#fff;width:10px;top:7px;left:3px;height:2px;transition:all .3s;}
  &::after{transform: rotate(-45deg)}
  &::before{transform: rotate(45deg)}
}

.icon-required
{
  font-size: 0;width: 15px;height: 15px;box-sizing: border-box;display: inline-block;vertical-align: middle;
  position: relative;font-style:normal;margin-top: -4px;

  &::after
  {
    content: '＊';display: inline-block;
    font-size: 12px;line-height: 1em;position: absolute;left: -1px;top: -2px;
    color: red;font-weight: bold;
  }
}

.icon-send-fail, .icon-send-complete
{
  display: inline-block;width:10px;height:10px;border-radius:50%;vertical-align: middle;
  font-size:0;
}

.icon-send-fail{background:#ff0000}
.icon-send-complete{background: #00b050;}