@charset "utf-8";

@media screen and (max-width:1280px){

  #wrap{height:100%;
    &.main{
      #header{z-index:10000;}
      .swiper{
        .swiper-wrapper{
          .swiper-slide{display:flex;justify-content:center;align-items:center;background-position:center top;background-size: auto 100%;}
        }
        .swiper-pagination{display:none;}
        .txtBox{position:static;padding-top:0;
          span{font-size:10px;margin-bottom:30px;letter-spacing:8px;line-height:10px;}
          p{font-size:20px;line-height:25px;margin-bottom:15px;}
          strong{font-size:40px;line-height:40px;margin-bottom:0;}
        }
      }
      .swiperNavi{position:absolute;left:50%;bottom:40px;transform:translateX(-50%);}
      .quickLink{display:none;}
    }
  }


  .web{display:none;}
  br.mobile {display: block;}
  select{background-size:8px 4px;background-position:right 10px center;}
  //header
  #header{height:80px;
    >.inner{height:100%;padding:0 20px;align-items:center;}
    .logo{margin:0;
      img{width:140px;}
    }
    &.active{
      .btnMenu{ background-image: none;
        .line{background:#0C196F}
        &:hover {background: transparent;}
      }
    }
    .btnMenu{position:relative;margin-top:0;width:20px;height:16px;padding:0;border:0;background-image:none; border-radius: 0;
      .line{position:absolute;left:0;display:block;width:20px;height:2px;background:#fff;transition:.4s;
        &:nth-of-type(1){top:0;}
        &:nth-of-type(2){top:calc(50% - 1px);}
        &:nth-of-type(3){top:calc(100% - 2px);}
      }
      &.active{
        .line{
          &:nth-of-type(1){width:21px;transform:translateX(3px) rotate(45deg);transform-origin:left top;}
          &:nth-of-type(2){opacity:0;}
          &:nth-of-type(3){width:21px;transform:translateX(3px)rotate(-45deg);transform-origin:left bottom;}
        }
      }
      .web{display:none;}
      &:hover {background: transparent;}
    }

    //gnb
    #gnb{display:none;top:80px;padding:0;width:100%; 
      &:hover{padding-bottom:0;
        .dep1{
          >li{
            .dep2{max-height:0;}
          }
        }
      }
      &:focus-within{padding-bottom:0;
        .dep1{
          >li{
            .dep2{max-height:0;}
          }
        }
      }
      .dep1{
        >li{text-indent:30px;
          >a{height: 66px;line-height:66px;font-size:18px;background:url('../images/header/ico-gnb-plus.svg')no-repeat right 30px center;
            &:after{display:none;}
            .dep2 {
              li {
                a {font-size:14px;color:#666;}
              }
            }
          }
          &.active{
            >a{color:#72BF44;background:url("../images/header/ico-gnb-minus.svg")no-repeat right 30px center;}
            .dep2{max-height:250px;background: #F5F5F5;padding:10px 0;
              li{margin-bottom:0;
                a{display:block;height:40px;line-height:40px;}
              }
            }
          }
        }
      }
      &.active{position:fixed;display:block;background: #fff;height: calc(100% - 80px);
        .dep1{flex-direction:column;text-align:left;}
        
      }
      

    }
  }

  //content
  #content{padding-bottom:80px;}

  .imgBox{/* flex-direction:column; */flex-wrap: wrap;
    img{width: 100%;margin:0 0 5px 0; flex:none;
      &:last-of-type{margin-bottom:0;}
    }
  }

  //lnb
  #lnb{display:flex;flex-direction:column;
    select{display:flex;justify-content:space-between;align-items:center;height:50px;color:#fff;padding:0 20px;font-size:14px;font-family:'Noto Sans Medium';border:0;border-radius:0;
      background:#0C196F url("../images/common/ico-arrow.svg")no-repeat right 20px center;appearance: none;
    }
    ul{display:none;}
  }

  //footer
  #footer{
    .logo{
      img{width:152px;}
    }
    >.inner{padding:20px;}
    .flex.top.sb{flex-direction:column;}
    .docArea{margin-top:40px;
      ul{flex-wrap:wrap;
        li{margin-bottom:10px;font-size:12px;margin-right:20px;}
      }
    }
    address{margin-top:10px;
      .flex{flex-wrap:wrap;margin-bottom:5px;
        p{margin-bottom:5px;margin-right:20px;font-size:12px;}
      }
      p{font-size:10px;}
    }
  }

  //content
  #content{
    >.inner{padding:0 20px;}
    .titCont{margin:30px 0;font-size:24px;
      &.m80{margin:30px 0;}
    }
  }
  .btnTop{left:calc(100% - 60px);width:40px;height:40px;bottom:20px;margin-bottom:20px}
  //scrollLink
  .scrollLink{display:none;}

  .btnArea{
    button{font-size: 14px;
      &.btn.blue.h60{flex: 1; height: 40px;}
    }
  }

  //첨부파일 영역
  .attachArea{height: 100px;}

  //tabContWrap
  .tabContWrap{
    &.type01{
      .tabNav{
        .tabList{flex-wrap:wrap;
          li{width:50%;height:39px;line-height:39px;flex:auto;box-sizing:border-box;border-bottom:0;font-size:12px;
            &:nth-of-type(1){border-radius:5px 0 0 0;}
            &:nth-of-type(2){border-radius:0 5px 0 0}
            &:nth-of-type(2n+1){border-left:1px solid #eee;}
            &:nth-last-of-type(2){border-radius:0 0 0 5px;border-bottom:1px solid #eee;}
            &:nth-last-of-type(1){border-radius:0 0 5px 0;border-bottom:1px solid #eee;}
          }
        }
      }
    }
  }
  //searchArea (토지검색)
  .searchArea{
    >.inner{display: flex; flex-direction: column; padding: 15px 10px 15px 10px;}
    .row{flex-wrap: wrap;
      .inputBox{display: flex; height: 80px; flex-direction: column; flex: 1;
        input[type="text"],select{width: 100%; height: 40px; padding: 10px; font-size: 12px; font-family: 'Noto Sans';}
        input[type="text"]::placeholder{font-size: 12px;}
        input[type="text"]+input[type="text"]{margin-top: 5px;}
        select{background: #fff url("../images/common/ico-mobile-select-down.svg") no-repeat center right 10px;
          +select{margin-top: 5px;}
        }
        +.inputBox{margin-left: 10px;}
      }
      &:last-child{margin-top: 10px;
        .btnArea{flex: 1;
          .btn.green{height: 40px; flex: 1;
            span:before{margin-right: 7px;}
          }
        }
      }
    }
    &.web{display: none;}
    &.mobile{display: block;}
    &.web+&.mobile{margin-top: 30px;}
  }

  .resultListArea{justify-content: inherit; margin-top: 15px; grid-template-columns: repeat(2,auto); grid-gap: 5px;
    .cardBox{
      .innerCard{height: 100%; padding: 15px;
        .tagGroup span{min-width: 35px; height: 20px; line-height: 20px; font-size: 10px; border-radius: 1px 10px 1px 10px;}
        strong.tit{font-size: 14px;}
        .desc{height: inherit;
          span,p{font-size: 12px;
            &.addr{display:block;margin:5px 0;}
            &.tel{margin:5px 0 0;}
          }

        }
        .btnArea .btn.gray{font-size: 12px;}
      }
      &:nth-child(n+3){margin-top: 5px;}
    }
    &.web{display: none;}
    &.mobile{display: flex; flex-wrap: wrap; justify-content: space-between;
      .cardBox {width: calc(100% / 2 - 7px);}
    }
  }

  .resultArea{
    .flex{
      span{font-size: 12px;}
    }
  }

  //breadCrumb
  .breadCrumb{display:none;}
  .visual{height:190px;
    .titPage{font-size:26px;margin-bottom:53px;}
  }

  //cardArea
  .cardArea{
    .cardContainer{display: block; align-items: inherit;}
    .card{min-height:81px;margin:0 0 5px 0;width:100%;padding:10px 5px 10px 30px;
      &.f1{
        &.type02{padding:10px 5px 10px 30px;}
        @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .imgArea{min-width: 60px; max-width: 220px; height: 60px;
            ~.txtArea{width: 1000px;}
            img{height: 60px;}
          }
        }
      }
      &:last-of-type{margin-bottom:0;}
      .imgArea{margin-right:20px;
        img{width:57px;}
      }
      .txtArea{font-size:12px;line-height:20px;
        strong{font-size:14px;margin-bottom:4px;}
      }
      +.cardContainer {margin-top: 5px;}
    }
    +*{margin-top:20px;}
    &.col {
      .card {
        +.card {margin-top: 5px;}
      }
    }
  }

  //accoArea
  .accoArea{
    .accordions {margin-top: 15px;
      li {
        .accoLabel {
          p {font-size: 12px; height: 40px; padding: 12px 10px;
            &:after {top: 7px; right: 10px; width: 25px; height: 25px; background: #eee url("../images/common/ico-accolabel-down-mo.svg") no-repeat center center; }
          }
        }
        .accoCont {padding: 20px 0px;
          .imgArea { padding-bottom:20px; text-align: center;
            img {width: 100%;}
          }
        }
        &.active {
          .accoLabel {
            p {
              &:after {top: 7px; right: 10px; width: 25px; height: 25px; background: #0C196F url("../images/common/ico-accolabel-up-mo.svg") no-repeat center center;}
            }
          }
          .accoCont {}
        }
      }
    }

  }
  .highlight {font-size: 12px;
    .ea {}
  }

  // noteArea
  .noteArea {font-size: 12px;
    .left {
      ul {
        li {
          .note {}
        }
      }
    }
    .right { display: none;
      .unit {}
    }
  }

  //linkArea
  .linkArea {
    ul {
      li {width: 100%; 
        a {padding: 26.5px 30px 26.5px 30px;
          &:before {font-size: 80px; bottom: -16px; left:-23px}
          span {
            &.linkTitle {font-size: 18px;}
            &.link {font-size: 12px; padding-right: 15px;
              &:after {
               right: 0; top: 4px; width: 10px; height: 10px;
                background: url("../images/common/ico-link-mobile.svg") no-repeat center;
              }
            }
          }
        }
        &:not(:first-child) {margin-top: 20px;}
      }
    }
  }
  //tempArea
  .tempArea{display: none;
    .imgArea {
      &.mb40 {}
    }
  }

  // swiper
  .swiper {
    &.mobile {display: block;}
    &.tempVisual {
      .swiper-wrapper {
        .swiper-slide {
          img {}
        }
      }
      .btnScroll {
        button {position: absolute; z-index: 2; top: 50%; transform: translateY(-50%);  width: 30px; height: 40px;
          &.swiper-prev {left: 0px; background: rgba($color: #222, $alpha:0.8) url("../images/common/img-prev.svg") no-repeat center; background-size: 9px 17px; }
          &.swiper-next {right: 0px; background: rgba($color: #222, $alpha:0.8) url("../images/common/img-next.svg") no-repeat center; background-size: 9px 17px; }
        }
      }
      .roll-controll {display: flex; justify-content: center; align-items: center; position: absolute; bottom:20px; left: 50%; z-index: 2; transform: translateX(-50%);
        .swiper-pagination { position: static;
          span {width: 15px; height: 15px; border-radius:15px; background: tomato; opacity: 0.5; transition: 0.3s;
            &:not(:first-child) {margin-left: 10px;}
            &:hover, &:focus {}
          }
          .swiper-pagination-bullet {}
          .swiper-pagination-bullet-active {width: 50px; opacity: 1;}
        }
        .main-roll-pause {background: url("../images/dummy/ico-pause.png") center center; background-size: 11px 13px; width: 13px; height: 15px; margin-left: 20px;}
        .main-roll-play {background: url("../images/dummy/ico-play.png") center center; background-size: 100% 100%; width: 13px; height: 15px; margin-left: 20px;}
      }
    }
  }

  .progressBox{
    &:first-child:before{transform: translateX(-50%); left: 50%; right: 0;}
    &.type02{
      .progress.type03{
        .flex{
          &:first-of-type .item:last-of-type .head{background: #0C196F;}
        }
        .item{margin: 0;
          &.col1:after{display: none;}
          .cont{
            >span{font-size: 12px;}
          }
        }
      }
    }
    &.type03 {
      .colTitle {display: none;}
      .progress {
        &.type03 {display: none;}
      }
      .itemcontArea {display: none;}
    }
    .progrssBoxMobile {display: block; position: relative; width: 100%; text-align: center;
      img { max-height: 530px;}
      &:after {
        content: ''; position: absolute; width: 57px; height: 57px; left: 50%; top: 50%; transform: translate(-50%, -50%);
        background: url("../images/common/ico-zoom.svg") no-repeat center; background-size: cover;
      }
    }
  }

  // gridArea
  .gridArea {
    .grid {
      flex: 1 100%;
      .gridHead {
        .titThr {padding: 0px 10px; font-size: 18px;}
      }
      .gridBody {margin-top: 10px; padding-top: 15px; border-top: 1px solid #0C196F;
        ul {
          li {font-size: 12px;
            p {
              &.subject {}
              &.cont {
                &.rus {font-family:'Rustica Light'; font-size: 12px;}
              }
            }
            a {}
            &:not(:first-child) {margin-top: 3px;}
          }
        }
      }
      &:not(:first-child) {margin-left: 0px; margin-top: 30px;}
      &.mobile {display: none;}
    }
  }

//etc
.momt30 {margin-top: 30px;}
.momt10 {margin-top: 10px;}
textarea{padding: 10px;height: 60px; font-size: 12px; }

  //progress
  .progress{max-width:600px;margin:0 auto;
    &.mobile{display:block;}
    &.web{display:none;}
    .flex{margin-bottom:26px;
      &:first-of-type{
        .item{
          &:last-of-type{position:relative;
            .head{background:#2A5082;}
            &:after{position:absolute;left:50%;bottom:-20px;width:15px;height:8px;display:block;content:'';background:url('../images/common/ico-progress.svg')no-repeat center;transform:translateX(-50%);}
          }
        }
      }
      &:last-of-type{margin-bottom:0;}
    }
    .item{width:95px;flex:none;margin:0;border-width:3px;
      >.inner{padding:5px;}
      .head{height:50px;font-size:20px;
        &:after{width:9px;height:9px;bottom:-4.5px;}
      }
      .cont{height:73px;font-size:12px;line-height:20px;}
    }

    &.type03{
      .flex{
        .item{flex: 0.45;
          &:after{display: none;}
          &:last-child{
            &:after{content: ''; position: absolute; display: block; width: 15px; height: 8px; top: 143px; left: 50%; 
            transform: translateX(-50%); bottom: 0; background: url("../images/common/ico-progress.svg")no-repeat center;}
          }
          &.col1:after{display: none;}
        }
      }
    }
  }

  //mapArea
  .mapArea{
    .tit{height:30px;line-height:30px;font-size:12px;}
  }
  .btnLoca{width:13px;height:18px;background-size:100% 100%;}
  //table
  .table{
    &.mobile{display:block;}
    th,td{word-break:keep-all;}
    &.type01{
      &.mobile{display:block;}
      thead{
        tr{
          th{height: 40px;font-size: 12px;}
        }
      }
      tbody{
        tr{
          th,td{height: 40px;font-size: 12px;line-height: 18px;}
          td{color: #666;padding: 0 10px;}
        }
      }
    }
    &.type02{padding-top:0;margin-bottom:-80px;
      table{
        thead{display:none;}
        tbody{
          tr{
            td{height:164px;
              &.mobile{display:block;border-radius:10px;box-shadow:0 2px 2px rgba(217,227,235,.5);

                &.total{height: auto;
                  .row{
                    strong{color:#0C196F;}
                    span{color:#fff;background: #0C196F;}
                  }
                }
                >.inner{padding:15px;}
                p.row{font-size:12px;color:#666;margin-top:15px;height:18px;letter-spacing:-1px;
                  &:last-of-type{margin:5px 0 15px;}
                }
                .row{display:flex;justify-content: space-between;
                  strong{font-size:18px;font-family:'Noto Sans Bold';color:#222;}
                  span{margin-left:auto;padding:0 10px;line-height: 24px;border-radius:50px;background:#F5F5F5;font-size:12px;color:#222;
                    &:last-of-type{margin-left:10px;}
                  }
                }
                .fileGroup{margin:0 0 0 auto;
                  a{margin-left:20px;
                    &:first-of-type{margin-left:0;}
                  }
                  img{width:30px;}
                }
              }
            }
          }
        }
        +p{font-size:12px;margin-bottom:40px;}
      }
    }
    &.type03{
      tbody{
        tr{
          th,td{padding: 10px; font-size: 12px;}
        }
      }
    }
    &.type04{ //(c)
      thead{
        tr{
          th{height: 40px;font-size: 12px;}
        }
      }
      tbody{
        tr{
          th,td{height: 40px;font-size: 12px;}
          td{color: #666;padding: 0px 5px;}
        }
      }
    }
    &.type05{
      &.mobile{display:block;}
      thead{
        tr{
          th{height: 40px;font-size: 12px;}
        }
      }
      tbody{
        tr{
          th,td{height: 40px;font-size: 12px;line-height: 18px;}
          td{color: #666;padding: 0 10px;}
        }
      }
    }
    +*{margin-top:20px;}
    +.btnArea{
      .btn{flex:1;height:40px;}
    }
  }
  .totalArea{
    .total{font-size:12px;}
    +*{margin-top:15px;}
  }
  //btn
  .btnArea{
    &.lrr{flex-wrap:wrap;
      .btn{
        &:nth-of-type(1),&:nth-of-type(2){width:calc(50% - 3px);margin-right:6px;}
        &:nth-of-type(2){margin-right:0;}
        &:nth-of-type(3){width:100%;margin-top:5px;}
      }
    }
    +*{margin-top:20px;}
  }
  
  .btn {height:30px;font-size:12px;padding:0 5px;
    &.f1 {flex:1;}
    &.white{
      &.down{
        &:after{width:10px;height:10px;background-size:cover;}
      }
    }
    &.blue {
      &.h60 {height: 40px;}
      &.search{
        &:after{width:10px;height:10px;}
      }
    }
    &.outlineBlue {
      position: static;
      padding: 0px 29px;
      span { padding-right: 16px;
        &:after {
          width: 11px; height: 11px; 
          background: url("../images/common/ico-down-mobile.svg") no-repeat center center;
        }
      }
    }
  }
  
  //imgArea
  .imgArea{justify-content: center; flex-wrap: wrap;
    div.img{ margin-right: 0;margin-bottom: 5px; flex: auto;
      .head{height: 30px;font-size: 12px;}
      img{width: 100%;}
      &:last-child{margin-bottom: 0;}
    }
  }

  .pagination{display: none;}
  .moreArea{display: flex;
    +.btnArea{margin-top:25px;
      .btn{flex:1;height:40px;}
    }
  }
  //section
  .section{flex-direction:column;margin-bottom:40px;
    .contArea{width:100%; flex:none;
      &.web{display:none;}
      &.mobile{display:block;}
      .pagination{display: none;}
      .moreArea{display: flex;}
    }
    .bullet{font-size:14px;margin-bottom:13px;
      &:before{height:14px;margin-right:4px;}
    }
    .list{
      li{padding:10px 0;font-size:12px;line-height:20px;}
    }

    &.mb80 {margin-bottom: 30px;}
    &.mb70 {margin-bottom: 30px;}

    .subTitArea{flex-direction: column; margin-bottom: 15px; align-items: flex-start;
      h5.bullet{margin-bottom: 5px;}
      p.blue{font-size: 12px;}
    }
    .titArea{width:auto;margin-bottom:15px;
      position: relative; width: 100%;
      .titSec{display:inline-block;font-size:18px;}
      .sub{font-size:12px;}
      >span{display: inline;}
      &.blockType{
        .titSec{display: block;}
      }
      .moUnit {display: block; position: absolute; right: 0;bottom: 4px;
        font-family: 'Noto Sans';font-size: 10px;color: #666666;letter-spacing: -0.040em;
      }
    }
  }

  //popup
  .popup{width:100%;height:100%;max-height:inherit;
    .btnPopClose{right:22px;top:30px;width:15.5px;height:15.5px;background-size:cover;}
    >.inner{height:calc(100% - 40px);padding:20px;}
    .head{height:65px;
      .tit{font-size:24px;margin:0;}
    }
    .cont{max-height:calc(100% - 60px); height: calc(100% - 60px);}
    .btnArea{
      .btn{flex:1;height:40px;font-size:14px;
        &:before{width:14px;height:14px;background-size:100% 100%;}
      }
    }
    .tabContWrap{
      &.type01{margin-top:0;
        .tabNav{
          .tabList{flex-wrap:nowrap;
            li{border-radius:0;;
              &:first-of-type{border-radius:5px 0 0 5px;border-bottom:1px solid #eee;}
              &:last-of-type{border-radius:0 5px 5px 0;}
            }
          }
        }
      }
    }
  }

  .searchBox{margin-top:30px;
    .row{margin-bottom:15px;
      &.row2-1{flex-wrap:wrap;
        .labelBox{
          &:nth-of-type(2){margin-right:0;}
          &:last-of-type{width:100%;flex:none;margin-top:15px;}
        }
      }
    }
    >.inner{padding:10px;}
    .labelBox{flex-direction:column;align-items:flex-start;flex:1;margin-right:5px;display:block;
      label{display:block;margin-bottom:5px;font-size:14px;}
      .flex{width:100%;}
      input[type="text"],input[type="password"],input[type="number"],select{padding:0 10px;height:40px;font-size:12px;color:#222;margin-right:5px;width:100%!important;;
        &:last-of-type{margin-right:0;}
        &::placeholder{font-size:12px;}
      }
    }
  }
}
